<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 [routerLink]="['']" class="text-primary font">Mathematics أبو صالح</h1>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="my-2 nav-item px-3">
                    <a [routerLink]="['/plus']" class="nav-link font text-primary" href="#">
                        <h3>زائد</h3>
                    </a>
                </li>

                <li class="my-2 nav-item px-3">
                    <a [routerLink]="['/minus']" class="nav-link font text-primary" href="#">
                        <h3>ناقص</h3>
                    </a>
                </li>

                <li class="my-2 nav-item px-3">
                    <a [routerLink]="['/multiply']" class="nav-link font text-primary" href="#">
                        <h3>ضرب</h3>
                    </a>
                </li>

                <li class="my-2 nav-item px-3">
                    <a [routerLink]="['/divide']" class="nav-link font text-primary" href="#">
                        <h3>قسمة</h3>
                    </a>
                </li>



   

             

            </ul>
        </div>
    </nav>
</div>