nav {
    direction: rtl;
}

li :hover {
    border-bottom: 2px solid blue;
}

a :hover {
    border-bottom: none;
}

.text-primary {
    cursor: pointer;
}

.navbar {
    background-color: transparent !important;
}